* {
    margin: 0;
    padding: 0;
}   
    
body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #03462378;
 
   
} 
main {
    padding: 110px;
}

header, footer {
    display: inline;
    height: 65px;
    color: #dcece3;
    background-color: #557823;
    line-height: 50px;
}
footer {
    position: absolute;
    width: 100%;
    text-align: center;font-size: 25px;
    border-top: 5px solid #462378;
}

header {
    width: 100%;
    position: fixed;
    border-bottom: 5px solid #462378;
}


ul {
    text-align: right;
}

li {
    display: inline;
    list-style-type: none;
    font-size: 25px;
    padding: 30px;
}

a {
    color: #dcece3;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

figure {
    padding-top: 20px;
    padding-bottom: 150px;
}

figcaption {
    font-size: 125%;
}

input[type="text"], textarea {
    background-color : #d1d1d1; 
  
}

.text-contact {
    text-align: left;
}
.title {
    text-align: center;
}

#email {
    width: 178px;
}