* {
    margin: 0;
    padding: 0;
}   
    
body {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
   
} 

header {
    width: 100%;
    background-color: darkgray;
    position: fixed;

}

header, footer {
    display: inline;
    border: 5px solid blue;
    height: 100px;
    background-color: darkgray;
    color: red;

}

li {
    text-align: left;
    display: inline;
    list-style-type: none;
}

ul {
    display: block;
}


.text-contact {
    text-align: left;
}
.title {
    text-align: center;
}